<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id="searchLocation"> </p>
    <p id="decription"> </p>
    <p id="current"> </p>
    <p id="highLow"> </p>
    <p id="error"></p>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>